.btn {
  @apply font-bold py-2 px-4 text-white;
  display: inline-block;
}

.btn-primary {
  @apply text-white;
  background-color: $blue;
  transition: background-color .2s ease;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.btn-blue {
  @apply block bg-blue-500 text-white font-bold py-2 px-4 rounded outline-none mb-2;
  width: 100%;

  &:hover {
    @apply bg-blue-700;
  }
}

.btn-link {
  @apply font-bold text-sm text-blue-500;

  &:hover {
    @apply text-blue-800;
  }
}

.btn-blue.loading {
  @apply opacity-50 cursor-not-allowed;
}
