form.add-journal {
  width: 100%;
  max-width: 500px;

  .input-row {
    display: flex;
    align-items: center;
  }

  label {
    display: inline-block;
    width: 100px;
    margin: 0;
  }
}
form.auth-form {
  @apply bg-white shadow-md rounded px-4 pt-6 pb-8 mb-4;
}

small {
  &.error {
    color: $red;
  }
}

.input-row {  
  margin-bottom: 10px;

  &.full    {width: 100%;}
  &.semi    {width: 75%;}
  &.med     {width: 50%;}
  &.small   {width: 25%;}

  &.error {
    label {
      color: $red;
    }
    input[type='text'] {
      border: 1px solid $red;
    }
  }

  label {
    @apply block text-gray-700 text-sm font-bold mb-2;
    padding: 0;
  }

  input {
    @apply shadow border rounded w-full py-2 px-3;
    appearance: none;
    outline: none;

    &:focus {
      border: 1px solid $blue;
    }
  }
}

.form-buttons {
  @apply mt-6 text-center;
}