form.add-journal {
  width: 100%;
  max-width: 500px;
}

.input-row {  
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &.error {
    label {
      color: $red;
    }
    input[type='text'] {
      border: 1px solid $red;
    }
  }

  label {
    display: inline-block;
    width: 100px;
    padding: 0;
  }

  input[type='text'] {
    border: 1px solid $black;
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    transition: all .2s ease;

    &:focus {
      border: 1px solid $blue;
    }
  }
}
