.auth-wrapper {
  width: 75%;

  .res-logo {
    display: none;
    position: absolute;
    top: 25px; left: 50%;
    transform: translateX(-50%);
    width: 125px;
  }

  @media (max-width: 1080px) {
    width: 90%;
  }
  @media (max-width: 980px) {
    .res-logo {display: block;}
  }
}

.login {
  width: 100%;
  display: flex;

  .blue-filter {
    position: absolute;
    z-index: 1;
    background: $blue;
    top: 0; right: 0;
    bottom: 0; left: 0;
    opacity: .2;
  }
  
  .content {
    width: 550px;
    position: relative;
    z-index: 10;
    background: $bg;
    display: flex;
    align-items: center;

    h1 {
      @apply text-center;
      font-weight: 700;
      font-size: 30px;
      color: $blue;
      margin-bottom: 25px;
    }

    @media (max-width: 1250px) {
      width: 450px;
    }
    @media (max-width: 1080px) {
      width: 400px;
    }
  }
  .general {
    flex: 1;
    background-size: cover;
    background-position: right -75px center;

    .top-banner {
      display: flex;
      position: absolute;
      top: 50px; left: 600px;
      width: calc(100% - 650px);
      z-index: 10;
      align-items: center;
      justify-content: space-between;

      img {
        max-width: 200px;
      }
      p{
        color: $white;

        a {
          display: inline-block;
          border: 1px solid $white;
          margin-left: 15px;
          padding: 10px 25px;
          font-weight: 700;
          transition: all .2s ease;

          &:hover {
            color: $blue;
            background: $white;
          }
        }
      }
    }

    .info {
      position: absolute;
      z-index: 10;
      left: 600px; bottom: 50px;
      color: $white;
      
      h1 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        max-width: 450px;
      }
    }

    @media (max-width: 1250px) {
      .top-banner {
        left: 500px;
        width: calc(100% - 550px);
      }
      .info {
        left: 500px;
      }
    }
    @media (max-width: 1080px) {
      .top-banner {
        left: 425px;
        width: calc(100% - 450px);
      }
      .info {
        left: 425px;
      }
    }
    @media (max-width: 980px) {
      display: none;
    }
  }
}