.journal-list {
  margin: 50px 0;

  li {
    display: block;
    border-bottom: 1px solid $black;
    padding-bottom: 10px;
    display: flex;
    padding: 25px 0;
  }

  .date {
    border-right: 1px solid $black;
    padding-right: 30px;
  }
  .items {
    flex: 1;
    padding-left: 30px;
  }

  span {
    color: $black;
    opacity: .75;
    display: block;
  }
}

.journal-wrapper {
  @apply mt-8;
}

.journal-item {
  &:first-child .inner    {@apply border-t;}

  .inner {
    @apply border-r border-b border-l border-gray-400 p-4;
    background: $white;
  }

  p {
    @apply text-sm text-gray-600 flex items-center mb-3;
  }

  .items {
    list-style-type: disc;
    padding-left: 20px;

    li {
      margin-bottom: 5px;
    }
  }
}