.sidebar {
  @apply fixed;
  top: 0; left: 0;
  bottom: 0;
  width: 350px;
  border-right: 1px solid $black;
}

.logo {
  border-bottom: 1px solid $black;
  padding: 40px;

  h1 {
    @apply relative;
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 140px;
    line-height: 110px;

    a   { display: block; }

    .large {
      font-weight: 900;
      letter-spacing: 2px;
    }
    .small {
      @apply absolute;
      top: 0; right: 0;
      font-weight: 900;
      font-size: 15%;
      transform: translate(30px, 2px) rotate(-90deg);
    }
  }
}

.main-menu {
  padding: 40px;

  a {
    display: block;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    transition: all .25s ease;

    &:hover,
    &.nuxt-link-exact-active {
      color: $black;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
}

.copy {
  @apply absolute text-center;
  bottom: 0; left: 0;
  padding: 25px 0;
  width: 100%;

  .links {
    margin: 0; padding: 0;
    margin-top: 5px;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      font-size: 14px;
      color: $black;
      opacity: .7;

      &:hover,
      &.nuxt-link-exact-active {
        opacity: 1;
      }
    }
  }
}